<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.spb.cupchinolabs.androidlocator"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10"/>
    <permission android:name="ru.spb.cupchinolabs.androidlocator.provider.permission.READ_PROVIDER"/>
    <permission android:name="ru.spb.cupchinolabs.androidlocator.provider.permission.WRITE_PROVIDER"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="ru.spb.cupchinolabs.androidlocator.provider.permission.READ_PROVIDER"/>
    <uses-permission android:name="ru.spb.cupchinolabs.androidlocator.provider.permission.WRITE_PROVIDER"/>
    <application android:label="@string/app_name">
        <activity android:name=".ControlActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTask"
                  android:allowTaskReparenting="true"
                  android:theme="@android:style/Theme.Black"
                  android:clearTaskOnLaunch="true"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ViewerListActivity"
                  android:label="@string/app_name">
        </activity>
        <service android:name=".LocatorService"
                 android:label="LocatorService"
                 android:exported="false"
                 android:process=":LocatorService"
                >
            <intent-filter>
                <action android:name="ru.spb.cupchinolabs.androidlocator.LocatorService"/>
            </intent-filter>
        </service>
<!--
        <provider android:name=".InMemoryLocatorProvider"
                  android:authorities="ru.spb.cupchinolabs.androidlocator.provider"
                  android:exported="false"
                >
        </provider>
-->
        <provider android:name=".PersistentLocatorProvider"
                  android:authorities="ru.spb.cupchinolabs.androidlocator.provider"
                  android:exported="true"
                  android:multiprocess="true"
                  android:readPermission="ru.spb.cupchinolabs.androidlocator.provider.permission.READ_PROVIDER"
                  android:writePermission="ru.spb.cupchinolabs.androidlocator.provider.permission.WRITE_PROVIDER"
                >
        </provider>
    </application>
</manifest> 
