<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.spb.cupchinolabs.androidlocator"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--<uses-permission android:name="android.permission.INTERNET"/>-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>-->
    <application android:label="@string/app_name">
        <activity android:name=".ControlActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTask"
                  android:allowTaskReparenting="true"
                  android:theme="@android:style/Theme.Black"
                  android:clearTaskOnLaunch="true"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ViewerListActivity"
                  android:label="@string/app_name">
        </activity>
        <service android:name=".LocatorService"
                 android:label="LocatorService"
                 android:exported="false"
                 android:process=":LocatorService"
                >
            <intent-filter>
                <action android:name="ru.spb.cupchinolabs.androidlocator.LocatorService"/>
            </intent-filter>
        </service>
        <provider android:name=".InMemoryLocatorProvider"
                  android:authorities="ru.spb.cupchinolabs.androidlocator.provider"
                  android:exported="false"
                >
            <!--TODO take care of permission for internal components and external apps once exported="true"-->
            <!--android:readPermission="ru.spb.cupchinolabs.androidlocator.provider.permission.READ_PROVIDER" for viewer activity-->
            <!--android:writePermission="ru.spb.cupchinolabs.androidlocator.provider.permission.WRITE_PROVIDER" for service-->
        </provider>
    </application>
</manifest> 
