Реализовать приложение, которое отслеживало бы текущее местоположение пользователя и сохраняло эти данные.

В приложении должны быть задействованы как минимум следующие компоненты:

* 2 Activity - экран с кнопками включения/выключения сервиса и экран с выводом координат пользователя в ListView
(данные должны отображаться динамически, новые координаты дописываются в конец списка);

* Service - собирает координаты местоположения пользователя из различных источников
(Приоретет за GPS, если он не доступен, данные необходимо брать из Яндекс.Локатора - http://api.yandex.ru/locator/
с некоторой периодичностью). Должен жить в отдельном процессе и включаться/выключаться по кнопкам из главного экрана;

* ContentProvider - хранилище для координат местоположения;

Программа должна работать на прошивках начиная с 2.1, для решения нельзя использовать готовые (open-source) решения.

Срок на задание - 1 неделя.

Мы будем оценивать следующие параметры:

- качество приложения (скорость работы, использование памяти, стабильность);
- качество кода (простота чтения, использованные архитектурные решения);
- время, затраченное на задание (чем быстрее, тем лучше);